.is-none-shadow {
	box-shadow: none !important;
}

.is-none-border {
	border: none !important;
}

.is-display-none{
	display:none;
}


.is-none-radius {
	border-radius: 0px !important;
}

.is-overflow-hidden{
	overflow:hidden !important;
}

.is-transparent{
	background:transparent !important;
}

.is-none-bordercolor{
	border-color: transparent !important;
}

.is-pointer{
	cursor:pointer;
}